<div class="header">
  <a routerLink="/"><h2>SimpleShop</h2></a>
  <nav class="menu-primary">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
      <li><a routerLink="/catalog" routerLinkActive="active"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Catalog</a></li>
      <li class="cart">
        <a routerLink="/cart" routerLinkActive="active">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span *ngIf="cartNumber!==0">{{cartNumber}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>